html {
    height: 100%;
}

body {
    
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    background: url('/media/wallpaper.jpg')
}


.fixed_top_css{
    background: #474747!important; 

}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    text-align: center;
    background: white;
}   

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: #919191;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #919191;
    color: white;
}

.text-black {
    color: white!important;
    background: #474747;
}

.border-black {
    border: 1px solid black !important;
}

.navbar_css{
    background: #474747 !important;
    color: white;
}


@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }